<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util">
	
	<context:component-scan base-package="com.github.melin.rest.controller"/>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
		<property name="order" value="0" />
		<property name="contentNegotiationManager" ref="contentNegotiationManager" />
		<property name="urlPathHelper">
			<bean class="com.github.melin.rest.support.spring.UrlPathHelperExt" />
		</property>
	</bean>
	
	<bean id="webBindingInitializer" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
		<property name="conversionService">
			<bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean"></bean>
		</property>
		<property name="validator">
			<bean class="org.springframework.validation.beanvalidation.OptionalValidatorFactoryBean"></bean>
		</property>
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="webBindingInitializer" ref="webBindingInitializer" />
		<property name="contentNegotiationManager" ref="contentNegotiationManager" />
		<property name="messageConverters" ref="messageConverters" />
	</bean>
	
	<bean class="com.github.melin.rest.support.spring.NoServiceMethodExceptionResolver">
		<property name="order" value="0" />
		<property name="jsonMessageConverter" ref="mappingJackson2HttpMessageConverter" />
 		<property name="xmlMessageConverter" ref="jaxb2RootElementHttpMessageConverter" />
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
		<property name="order" value="1" />
		<property name="contentNegotiationManager" ref="contentNegotiationManager" />
		<property name="messageConverters" ref="messageConverters" />
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.ResponseStatusExceptionResolver">
		<property name="order" value="2" />
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver">
		<property name="order" value="3" />
	</bean>
	<!-- end -->
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/api"/>
			<bean class="com.github.melin.rest.support.spring.ServiceErrorHandlerInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- <mvc:default-servlet-handler/> -->
	<bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
	    <property name="favorPathExtension" value="false" />
	    <property name="favorParameter" value="true" />
	    <property name="ignoreAcceptHeader" value="true"/>
	    <property name="defaultContentType" value="application/xml" />
	    <property name="mediaTypes">
			<props>
				<prop key="xml">application/xml;charset=GBK</prop>
				<prop key="json">application/json</prop>
			</props>
	    </property>
	</bean>
	
</beans>

